.body{
background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.accordeon,
.accordeon ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.accordeon li {
	margin: 0 0 2px 0;
	padding: 0;
}
.accordeon > li > a {
	background: #FFF;
	color: #333;
	display: block;
	font-weight: 700;
	height: 50px;
	line-height: 50px;
	padding: 0 30px;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	width: 100%;
}
.accordeon > li.slide > a,
.accordeon > li.active > a {
	background: #1967c3;
	color: #FFF;
}
.accordeon > li > ul {
	display: none;
	width: 100%;
	background: #FFF;
	padding: 10px 0;
}
.accordeon > li.active > ul {
	display: block;
}
.accordeon > li > ul > li {
	padding: 5px 30px;
	text-decoration: none;
	display: block;
	color: #333;
}
a{
	text-decoration: none;
	text-transform: none;
	color: black;
}